body {
    font-family: Arial, sans-serif;
    background:linear-gradient(45deg, #f08408, rgb(133, 199, 155)) ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgb(1, 66, 5);
    padding: 20px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.container h1{
    font-size: 2rem;
    text-align: center;
    margin-top: 0;
    color: white;
}

span{
    color: #f08408;
}

#newtask {
    display: flex;
    justify-content: space-between;
}

#newtask input {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 17px;
    border: none;
}

#newtask input:hover{
    border: 2px solid rgb(133, 199, 155);
    background-color: #e2a45d;
}

#newtask button {
    padding: 20px;
    background-color: #f08408;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    transition: 0.5s;
}

#newtask button:hover {
    background-color: #aa5c03;
    

}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
}

.task span#taskname {
    flex: 1;
}

.task button.delete {
    background: none;
    border: none;
    color: #dc3545;
    cursor: pointer;
    font-size: 18px;
}

.task button.delete:hover {
    color: #c82333;
}
